.userInfo__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact__btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: none;
  background-color: Transparent;
  cursor: pointer;
}

.userInfo__name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}

.username {
  background-color: gray;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.userInfo__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  padding-right: 10px;
}

.userInfo__icons__icon {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  text-decoration: none;
  align-items: center;
  width: 80px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(94, 88, 76);
  cursor: pointer;
}

.userInfo__icons__icon__message {
  background-color: white;
  opacity: 0.4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  text-decoration: none;
  align-items: center;
  width: 80px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(94, 88, 76);
}

.phone {
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  margin-right: 8px;
  box-shadow: 2px 2px 2px 2px rgb(94, 88, 76);
  border-radius: 5px;
}

.address {
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  margin-right: 8px;
  box-shadow: 2px 2px 2px 2px rgb(94, 88, 76);
  border-radius: 5px;
}

.company {
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  margin-right: 8px;
  box-shadow: 2px 2px 2px 2px rgb(94, 88, 76);
  border-radius: 5px;
}

.company__span {
  font-weight: bolder;
}

.userInfo__btn {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 2px 2px 2px 2px rgb(94, 88, 76);
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .userInfo__icons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .userInfo__icons__icon {
    margin: 5px;
  }
}
