.searchbar {
  background-color: white;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  box-sizing: border-box;
  border-radius: 30px;
  margin-top: 20px;
  padding: 5px;
}

.input {
  border: none;
  padding: 5px;
}

.searchIcon {
  margin-top: 2px;
  margin-left: 2px;
  padding: 2px;
  cursor: pointer;
}
