* {
  margin: 0;
  padding: 0;
}


.App {
  min-height: 100vh;
  background: linear-gradient(to right, rgb(236, 190, 190), rgb(49, 49, 199));
  display: flex;
  justify-content: center;
  align-items: center;
}
