.alphabet {
  margin-top: 20px;
}

.name {
  /* background-color: red; */
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.info {
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
